@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  @apply font-mono font-bold;
}

button:focus,
a:focus {
  outline-color: #01f1cc;
  outline-offset: 1px;
}

.nuxt-content-highlight {
  @apply relative;
}
.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}
.nuxt-content-highlight pre {
  border-radius: 0 !important;
  @apply text-sm;
}
.nuxt-content > * {
  @apply mb-4;
}
.nuxt-content code {
  @apply font-semibold;
}
.nuxt-content blockquote {
  @apply pl-4 py-2 border-l-4 border-gray-600;
}
.nuxt-content blockquote p {
  @apply italic m-0;
}
.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4,
.nuxt-content h5,
.nuxt-content h6 {
  @apply font-mono font-bold overflow-x-scroll;
}
.nuxt-content h1 {
  font-size: 34px;
}
.nuxt-content h2 {
  font-size: 28px;
}
.nuxt-content h3 {
  font-size: 22px;
}
.nuxt-content p {
  @apply mb-4;
}
.nuxt-content a:hover {
  text-decoration: underline;
}
.nuxt-content ol {
  @apply list-inside list-decimal;
}
.nuxt-content ul {
  list-style-type: square;
  @apply list-inside;
}
.nuxt-content-editor {
  @apply bg-gray-100;
}
.dark-mode .nuxt-content-editor {
  @apply bg-gray-900;
}
